:root {
  --container-width: 1600px;
  --basic-space: 1rem;
  --text-size: 16px;
  --text-color: #000000;
  --bg-basic-color: #ffffff;
  --bg-footer-color: #e7ded8;
  --footer-bg-color: #f5f5fa;
  --grey-text: #b3b3ba;
  --accent: #f0145a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: 1.15;
  font-weight: 400;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--basic-color);
}

.main-container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.bg-gradient-box {
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(
    229deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  color: #ffffff;
}

.display-flex-pos {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-items-position {
  display: flex;
  align-items: center;
  gap: 6px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-items .text-style2 {
  color: #ffffff;
  font-weight: 700;
}

.align-items .text-style2 {
  color: #ffffff;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #e6e6f0;
  border-radius: 50%;
}

/*-----HEADER-------*/

/*aut0 - чтобы слова меню не сжимались при сужении экрана , а контейнер нормально сужался*/
.header-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.header-item1 {
  grid-column: 1;
  grid-row: 1/3;
}
.header-item2 {
  grid-column: 2;
  grid-row: 1;
}
.header-item3 {
  grid-column: 2;
  grid-row: 2;
}

.header {
  background-color: transparent;
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.burger {
  display: none;
}

.lang-buttons {
  display: flex;
  align-items: center;
}

.lang-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 5px 7px;
  background-color: transparent;
  border-radius: 8px;
}
.lang-btn:hover {
  background-color: var(--accent);
  color: #ffffff;
  transition: 0.3s;
}

.facebook-hover path {
  fill: #ffffff;
}
.facebook-hover:hover path {
  fill: var(--accent);
  transition: 0.3s;
}

.menu {
  display: flex;
  gap: 16px;
}

.menu-nav-link {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: right;
  font-size: var(--text-size);
  font-weight: 700;
}
.menu-nav-link:hover {
  color: var(--accent);
  text-decoration: underline;
  transition: 0.3s;
}

.text-style1,
.text-style2 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 0rem;
}

.text-style2 {
  font-weight: 700;
}

/*-----MAIN SECTION------*/

.main-section {
  min-height: 100vh;
  background: url("./images/h-symbol-mainscreen.png") no-repeat center/contain;
}

.main-section .content-block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-block h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 2.38rem;
  font-weight: 700;
  margin-top: 80px;
}

.content-block .hover-scroll-arrow svg:hover circle {
  stroke: var(--accent);
  transition: 0.3s;
}
.content-block .hover-scroll-arrow svg:hover path {
  stroke: var(--accent);
  transition: 0.3s;
}
.content-block .hover-scroll-arrow {
  margin-bottom: 30px;
}

/*-----SECOND SECTION TABS------*/

/*vertical tab line:*/
.second-section {
  margin-top: 60px;
}

.content-block {
  display: flex;
  justify-content: center;
}

.second-section .tab-line {
  width: 4px;
  min-width: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 40px;
  margin-right: 60px;
  align-self: stretch;
}

.tab-btn-style {
  font-family: "Montserrat", sans-serif;
  color: var(--grey-text, #b3b3ba);
  font-size: 2.38rem;
  font-weight: 700;
  text-align: end;
}

.nav-link:hover {
  background: var(
    --gradient-text-red-reversed,
    linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}
/*.active {
  background: var(
    --gradient-text-red-reversed,
    linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/

.tab-pane {
  max-width: 860px;
  font-family: "Montserrat", sans-serif;
}
.tab-pane h3 {
  font-size: 1.88rem;
  font-weight: 700;
}
.tab-pane .tab-text-style {
  font-size: 1.19rem;
  font-weight: 400;
  color: #ffffff !important;
}

/*-----THIRD SECTION ICONS BLOCK---*/

.icons-title {
  margin-top: 60px;
}

.icon-cards-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.single-icon-card h3 {
  color: #24a3ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.38rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
}

.single-icon-card p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6; /* 162.5% */
}

/*----COMPANY LOGOS SECTION----*/

.company-logos-section h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.88rem;
  color: #323264;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.company-logos-section .logos-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1700px;
  margin: 0 auto; /*верх и низ без отступов, справа и слева - auto, т.е.по центру контейнер будет*/
}

.company-logos-section .logos-wrapper .logo-item {
  padding: 1rem;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logos-section .logos-wrapper .logo-item img {
  max-height: 100%;
  max-width: 70%;
}

.bg-blue {
  background-color: #1c4280;
  border-radius: 12px 0 0 0;
}
.bg-dark-blue {
  background-color: #143646;
}
.bg-orange {
  background-color: #f48b30;
}
.bg-violet {
  background-color: #9e4dc3;
  border-radius: 0 12px 0 0;
}
.bg-gray1 {
  background-color: #e2e2e4;
}
.bg-gray2 {
  background-color: #eaeaea;
  border-radius: 0 0 0 12px;
}
.bg-red {
  background-color: #c71c36;
}
.bg-light {
  background-color: #dcf3f9;
}
.bg-dark-violet {
  background-color: #282240;
}
.bg-indigo {
  background-color: #1d4568;
}
.bg-black {
  background-color: #000000;
  border-radius: 0 0 12px 0;
}

/*----SERVICE CARDS SECTION----*/

.service-card-section {
  background-color: var(--footer-bg-color);
  padding-top: 30px;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  color: #24a3ff;
  font-size: 0.87rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
span {
  font-size: 20px;
  margin-left: 2px;
}

.service-title-style {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.36rem;
  font-weight: 700;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.single-card-item {
  border-radius: 8px;
  background-color: var(--bg-basic-color);
}
.card-content-pad {
  padding: 30px;
}
.card-content-pad .card-title {
  font-family: "Montserrat", sans-serif;
  color: #24a3ff;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
}
.data {
  font-family: "Montserrat", sans-serif;
  color: var(--grey-text);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
hr {
  height: 4px;
  background-color: #e6e6f0;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-description-style {
  color: var(--text-color);
  font-size: 0.88rem;
  line-height: 1.38;
  font-family: "Montserrat", sans-serif;
}

/*-----FOOTER-------*/

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-line {
  height: 2px;
  background-color: #babacb;
  border: none;
  margin-bottom: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.address {
  color: #323264;
  font-size: var(--text-size);
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0rem;
}

.map-link {
  font-family: "Montserrat", sans-serif;
  color: #24a3ff;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dots-gap-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.facebook-footer path {
  fill: #24a3ff;
}
.facebook-footer:hover path {
  fill: var(--accent);
  transition: 0.3s;
}

.dot-footer {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b3b3ba;
}

.facebook-block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.facebook-block p {
  color: #46466e;
  font-size: var(--text-size);
  font-weight: 700;
}

.e-mail {
  color: #24a3ff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.e-mail:hover,
.map-link:hover {
  color: var(--accent);
  transition: 0.3s;
}

.tel-style {
  color: #46466e;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.copy {
  color: var(--grey-text);
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1440px) {
  .main-container {
    max-width: 1320px;
  }

  .smaller-container {
    max-width: 1080px;
  }

  /*----second-section-tabs:----*/
  .tab-pane {
    max-width: 580px;
  }

  /*----company-logos-section----*/
  .bg-blue,
  .bg-violet,
  .bg-gray2,
  .bg-black {
    border-radius: 0 0 0 0;
  }

  /*---service-card-section----*/
  .single-card-item img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .main-container,
  .smaller-container {
    /*max-width: 904px;*/
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .main-section {
    background-size: cover; /*расположение h символа на весь экран*/
  }

  /*----header----*/

  .header-grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .header-item1 {
    order: 2;
  }
  .header-item2 {
    order: 1;
  }
  .header-item3 {
    order: 3;
  }

  .mobile-flex-start {
    display: flex;
    justify-content: flex-start;
  }

  /*----second-section-tabs:----*/
  .second-section .wrapper {
    flex-direction: column;
  }

  .second-section .tab-line {
    width: 100%;
    height: 4px;
    margin: 60px 0;
  }

  /*.wrapper .flex-row-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /*position: absolute;
    transform: translateX(6px);
    overflow-x: auto;
    max-width: calc(100vw) !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }*/

  .tab-pane {
    max-width: 648px;
  }

  /*.second-section .nav-pills {
    position: absolute;
    transform: translateX(6px);
    overflow-x: auto;
    max-width: calc(100vw) !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }*/

  .second-section .nav-pills .nav-link {
    min-width: 150px;
  }

  /*-----third section-icons block---*/
  .icon-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  /*----company-logos-section----*/
  .company-logos-section .logos-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /*---service-card-section----*/
  .service-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .fortablet {
    grid-column: 1/3;
    max-width: 100%;
    height: 100%;
  }

  /*----footer---*/
  .flex-wrap {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 90%;
  }
  .copy {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .main-container,
  .smaller-container {
    padding-left: 30px;
    padding-right: 60px;
  }

  .main-section,                   /*позиция h символа*/
  .main-section .content-block {
    height: initial;
    min-height: initial;
    aspect-ratio: 1/1.6;
  }

  .content-block h1 {
    max-width: 300px;
    text-align: center;
    margin-top: 80px;
  }

  .img-logo {
    max-width: 69px;
  }

  .header-item1 {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  .header-item2 {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 245, 250, 0.2);
    margin-top: -50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .lang-buttons {
    margin-left: 10px;
  }

  .text-style2 {
    margin-right: 15px;
  }

  .nav-menu,
  .text-style1,
  .dot,
  .facebook-mobile-none {
    display: none;
  }

  /*---header end ---*/

  /*----burger-menu----*/

  .burger {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    position: relative;
    z-index: 7;
  }
  .nav-menu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    z-index: -5;
  }
  .nav-menu.active {
    z-index: 5;
    background-color: rgba(50, 50, 50, 0.85);
  }
  .nav-menu .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    height: 100%;
    transition: all 0.3s linear;
    transform: translateY(0);
    padding-top: 150px;
  }
  .nav-menu.active .menu {
    transform: translateY(0);
  }

  .menu-nav-link {
    padding: 7px 100px;
    background-color: #f5f5fa;
    border-radius: 12px;
    color: #24a3ff;
  }
  .menu-nav-link:hover {
    color: #f0145a;
    text-decoration: none;
  }

  /*----second-section-tabs:----*/
  .second-section {
    margin-top: 30px;
  }
  .second-section .tab-line {
    margin: 30px 0;
  }

  .tab-btn-style {
    font-size: 1.88rem;
  }

  /*-----third section-icons block---*/
  .icon-cards-wrapper {
    grid-template-columns: 100%;
    gap: 30px;
  }

  /*----company-logos-section----*/
  .company-logos-section .logos-wrapper {
    grid-template-columns: 100%;
    max-height: calc(120px * 6); /*видим 6 лого-карточек*/
    overflow-y: auto; /*остальные лого-карточки будут скролиться*/
  }

  /*---service-card-section----*/
  .service-title-style {
    font-size: 1.88rem;
  }

  .service-cards {
    grid-template-columns: 100%;
  }

  .fortablet {
    grid-column: 1;
  }

  /*----footer--------*/
  .dot {
    display: none;
  }

  .dots-gap-footer,
  .facebook-block {
    display: flex;
    flex-direction: column;
  }

  .flex-wrap {
    max-width: 398px;
  }

  .copy {
    text-align: center;
  }
}
