:root {
  /*--container-width: 1320px;*/
  --container-width: 1600px;
  --basic-space: 1rem;
  --text-size: 16px;
  --text-color: #000000;
  --bg-basic-color: #ffffff;
  --bg-footer-color: #e7ded8;
  --footer-bg-color: #f5f5fa;
  --grey-text: #b3b3ba;
  --accent: #f0145a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: 1.15;
  font-weight: 400;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--basic-color);
}

.main-container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.display-flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-items {
  display: flex;
  align-items: center;
  gap: 6px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-items .text-style1 {
  color: var(--grey-text);
}
.align-items .text-style2 {
  color: var(--grey-text);
  font-weight: 700;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: var(--grey-text);
  border-radius: 50%;
}

/*-----HEADER-------*/

.header-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.header-item1 {
  grid-column: 1;
  grid-row: 1/3;
}
.header-item2 {
  grid-column: 2;
  grid-row: 1;
}
.header-item3 {
  grid-column: 2;
  grid-row: 2;
}

.header {
  background-color: transparent;
  padding-top: 50px;
}

.page-name {
  color: #323264;
  font-size: 2.3rem;
  margin-left: 4px;
}

.slash {
  margin-left: 4px;
}

.burger {
  display: none;
}

.lang-buttons {
  display: flex;
  align-items: center;
}

.lang-btn {
  text-transform: uppercase;
  color: var(--grey-text);
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 5px 7px;
  background-color: transparent;
  border-radius: 8px;
}
.lang-btn:hover {
  background-color: var(--accent);
  color: #ffffff;
  transition: 0.3s;
}

.header-facebook:hover path {
  fill: var(--accent);
  transition: 0.3s;
}

.menu {
  display: flex;
  gap: 16px;
}

.nav-link {
  color: #24a3ff;
  text-align: right;
  font-size: var(--text-size);
  font-weight: 700;
}
.nav-link:hover {
  color: var(--accent);
  text-decoration: underline;
  transition: 0.3s;
}

/*----CONTACTS----*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-left: auto;
  margin-right: auto;
  /*padding-left: 120px;
      padding-right: 120px;*/
  max-width: 1080px;
  margin-top: 60px;
}

.contacts {
  grid-column: 1;
}

.form-box {
  grid-column: 2;
}

/*----Left part-CONTACTS----*/

.contact-info {
  font-size: 1.3rem;
  line-height: 1.88;
}

.address,
.phone {
  color: #323264;
}

.email {
  color: #24a3ff;
}
.email:hover {
  color: var(--accent);
  transition: 0.3s;
}

hr {
  max-width: 510px;
  height: 4px;
  background-color: #e6e6f0;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.facebook-page {
  display: flex;
  max-width: 153px;
  align-items: center;
}

.link-page {
  color: #24a3ff;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 10px;
}
.link-page:hover {
  color: var(--accent);
  transition: 0.3s;
}

.facebook-hover:hover path {
  fill: var(--accent);
  transition: 0.3s;
}

/*----Right part-FORM BOX----*/

.form-box {
  background-color: #f5f5fa;
  max-width: 510px;
  padding: 30px;
  border-radius: 12px;
}

.form-title {
  font-size: 1.86rem;
  font-weight: 700;
  background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;
}
::placeholder {
  color: var(--grey-text);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.input:focus {
  border: 1px solid #24a3ff;
  outline: none;
}
.input:focus::placeholder {
  color: #000000;
}
/*.input:focus::grammar-error {
      border: 1px solid #ff0000;
      outline: none;
    }*/

.message-input {
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 90px;
  resize: none;
  margin-top: 15px;
}
.message-input::placeholder {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.message-input:focus {
  border: 1px solid #24a3ff;
  outline: none;
}
.message-input:focus::placeholder {
  color: #000000;
}

.form-question {
  font-size: 0.88rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--grey-text);
  margin-top: 30px;
}

.input-gap {
  display: grid;
  gap: 15px;
}

.form-btn {
  display: inline-block;
  width: 450px;
  border-radius: 12px;
  background-color: #24a3ff;
  color: #ffffff;
  font-size: var(--text-size);
  font-weight: 700;
  border: none;
  padding-top: 18px;
  padding-bottom: 18px;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}
.form-btn:hover {
  background-color: #0085ff;
}
.form-btn:active {
  background-color: #006ccf;
}

/*-----FOOTER-------*/

.footer {
  background-color: var(--footer-bg-color);
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.address {
  color: #323264;
  font-size: var(--text-size);
  font-weight: 400;
}

.map-link {
  color: #24a3ff;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dots-gap-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.facebook-hover:hover path {
  fill: var(--accent);
  transition: 0.3s;
}

.facebook-block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.facebook-block p {
  color: #46466e;
  font-size: var(--text-size);
  font-weight: 700;
}

.e-mail {
  color: #24a3ff;
  font-weight: 700;
}
.e-mail:hover,
.map-link:hover {
  color: var(--accent);
  transition: 0.3s;
}

.tel-style {
  color: #46466e;
  font-weight: 700;
}

.copy {
  color: var(--grey-text);
}

@media (max-width: 1440px) {
  .main-container {
    max-width: calc(1320px + var(--basic-space) * 2);
  }
}

@media (max-width: 1024px) {
  .main-container,
  .smaller-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .form-btn {
    width: 100%;
  }
}

@media (max-width: 865px) {
  /*----header----*/

  .header-grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .header-item1 {
    order: 2;
  }
  .header-item2 {
    order: 1;
  }
  .header-item3 {
    order: 3;
  }

  .mobile-flex-start {
    display: flex;
    justify-content: flex-start;
  }

  /*---page-content---*/

  .grid-container {
    display: flex;
    flex-direction: column;
    /*max-width: 100%;*/
    /*max-width: 648px;*/
  }

  .form-box {
    /*max-width: 648px;*/
    max-width: 100%;
    /*width: 100%;*/
  }

  hr {
    /*max-width: 648px;*/
    max-width: 100%;
  }

  .input {
    /*max-width: 588px;*/
    max-width: 100%;
  }

  .message-input {
    /*max-width: 588px;*/
    max-width: 100%;
  }

  .form-btn {
    /*max-width: 588px;*/
    max-width: 100%;
  }

  /*----footer----*/
  .flex-wrap {
    max-width: 398px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .copy {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  /*----header:----*/
  .main-container,
  .smaller-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .burger {
    display: block;
  }

  .header-item1 {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .header-item2 {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5fa;
    margin-top: -50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .lang-buttons {
    margin-left: 10px;
  }

  .text-style2 {
    margin-right: 15px;
  }

  .nav,
  .text-style1,
  .dot,
  .facebook-mobile-none {
    display: none;
  }

  /*----burger-menu----*/

  .burger {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    position: relative;
    z-index: 7;
  }
  .nav {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    z-index: -5;
  }
  .nav.active {
    z-index: 5;
    background-color: rgba(50, 50, 50, 0.85);
  }
  .nav .menu {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    height: 100%;
    transition: all 0.3s linear;
    transform: translateY(0);
    padding-top: 110px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .nav.active .menu {
    transform: translateY(0);
  }
  .burger.active svg path {
    stroke: #ec6f5d;
  }
  .burger.active svg {
    margin-left: -10px;
  }

  .nav-link {
    padding: 10px;
    background-color: #f5f5fa;
    border-radius: 12px;
    color: #24a3ff;
    text-align: center;
  }
  .nav-link:hover {
    color: #f0145a;
    text-decoration: none;
  }
}

@media (max-width: 440px) {
  /*----footer:----*/
  .dot {
    display: none;
  }

  .dots-gap-footer,
  .facebook-block {
    display: flex;
    flex-direction: column;
  }

  .copy {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .img-logo {
    max-width: 69px;
  }
  .img-slash {
    max-width: 12px;
  }
  .page-name {
    font-size: 1.25rem;
  }

  .grid-container {
    gap: 30px;
    margin-top: 30px;
  }

  .nav {
    display: none;
  }

  .text-style1 {
    display: none;
  }

  .facebook-mobile-none {
    display: none;
  }
}
