:root {
  --container-width: 1600px;
  --basic-space: 1rem;
  --text-size: 16px;
  --text-color: #000000;
  --bg-basic-color: #ffffff;
  --bg-footer-color: #e7ded8;
  --footer-bg-color: #f5f5fa;
  --grey-text: #b3b3ba;
  --accent: #f0145a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: 1.15;
  font-weight: 400;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--basic-color);
}

.bg-gradient-box {
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(
    229deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  color: #ffffff;
}

.main-container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.smaller-container {
  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.display-flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-items {
  display: flex;
  align-items: center;
  gap: 6px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-items .text-style1 {
  color: var(--grey-text);
}
.align-items .text-style2 {
  color: var(--grey-text);
  font-weight: 700;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: var(--grey-text);
  border-radius: 50%;
}

/*-----HEADER-------*/

.header-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.header-item1 {
  grid-column: 1;
  grid-row: 1/3;
}
.header-item2 {
  grid-column: 2;
  grid-row: 1;
}
.header-item3 {
  grid-column: 2;
  grid-row: 2;
}

.header {
  background-color: transparent;
  padding-top: 50px;
}

.page-name {
  color: #ffffff;
  font-size: 2.3rem;
  margin-left: 4px;
}

.slash {
  margin-left: 4px;
}

.burger {
  display: none;
}

.lang-buttons {
  display: flex;
  align-items: center;
}

.lang-btn {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 5px 7px;
  background-color: transparent;
  border-radius: 8px;
}
.lang-btn:hover {
  background-color: var(--accent);
  transition: 0.3s;
}

.align-items .header-facebook path {
  fill: #ffffff;
}
.align-items .header-facebook:hover path {
  fill: var(--accent);
  transition: 0.3s;
}

.menu {
  display: flex;
  gap: 16px;
}

.nav-link {
  color: #ffffff;
  text-align: right;
  font-size: var(--text-size);
  font-weight: 700;
}
.nav-link:hover {
  color: var(--accent);
  text-decoration: underline;
  transition: 0.3s;
}

.align-items .text-style1 {
  color: #ffffff;
}
.align-items .text-style2 {
  color: #ffffff;
}

/*----IT AND E-COMMERCE SECTION----*/

.e-commerce-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.text-description {
  color: #fff;
  font-size: 1.19rem;
  line-height: 1.88;
}

.consultation-btn {
  display: inline-block;
  padding: 18px 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 12px;
  background-color: #24a3ff;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}
.consultation-btn:hover {
  background-color: #0085ff;
}
.consultation-btn:active {
  background-color: #006ccf;
}

/*----SERVICE AREA SECTION----*/

.service-aria {
  padding-bottom: 60px;
}

.service-line {
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}

.h3-title {
  font-size: 1.38rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.services-aria-block .red-dot {
  min-width: 6px;
  height: 6px;
  background-color: var(--accent);
  border-radius: 50%;
  margin-top: 12px;
}

.services-aria-block {
  display: grid;
  grid-template-columns: repeat(2, 650px);
  column-gap: 60px;
  row-gap: 15px;
}

.text-description2 {
  color: #fff;
  font-size: 1.13rem;
  line-height: 1.63;
}

.row-pos-dot-text {
  display: flex;
  column-gap: 8px;
  align-items: flex-start;
}

/*----SERVICE CARDS SECTION----*/

.service-card-section {
  margin-top: 60px;
  background-color: var(--footer-bg-color);
  padding-top: 30px;
  /*padding-bottom: 30px;*/
}

.subtitle {
  color: #24a3ff;
  font-size: 0.87rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
span {
  font-size: 20px;
  margin-left: 2px;
}

.service-title-style {
  background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.36rem;
  font-weight: 700;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.single-card {
  border-radius: 8px;
  background-color: var(--bg-basic-color);
  /*height: 430px;*/
}
.card-content {
  padding: 30px;
}
.card-content h4 {
  color: #24a3ff;
  font-weight: 700;
  margin-bottom: 15px;
}
.data {
  color: var(--grey-text);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
hr {
  height: 4px;
  background-color: #e6e6f0;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-description {
  color: var(--text-color);
  font-size: 0.88rem;
  line-height: 1.38;
}

/*-----FOOTER-------*/

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-line {
  height: 2px;
  background: #e6e6f0;
  border: none;
  margin-bottom: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.address {
  color: #323264;
  font-size: var(--text-size);
  font-weight: 400;
}

.map-link {
  color: #24a3ff;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dots-gap-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.facebook-hover:hover path {
  fill: var(--accent);
  transition: 0.3s;
}

.facebook-block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.facebook-block p {
  color: #46466e;
  font-size: var(--text-size);
  font-weight: 700;
}

.e-mail {
  color: #24a3ff;
  font-weight: 700;
}
.e-mail:hover,
.map-link:hover {
  color: var(--accent);
  transition: 0.3s;
}

.tel-style {
  color: #46466e;
  font-weight: 700;
}

.copy {
  color: var(--grey-text);
}

@media (max-width: 1440px) {
  .main-container {
    max-width: 1320px;
  }

  .smaller-container {
    max-width: 1080px;
  }
  /*---service-card-section----*/
  /*.single-card {
    /*max-width: 420px;*/
  /*height: 450px;
  }*/
  .single-card img {
    width: 100%;
  }

  /*----SERVICE AREA SECTION----*/
  .services-aria-block {
    grid-template-columns: repeat(2, 510px);
  }
}

@media (max-width: 1024px) {
  .main-container,
  .smaller-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  /*----SERVICE AREA SECTION----*/
  .services-aria-block {
    grid-template-columns: repeat(2, 422px);
  }
}

@media (max-width: 768px) {
  /*----header----*/

  .header-grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .header-item1 {
    order: 2;
  }
  .header-item2 {
    order: 1;
  }
  .header-item3 {
    order: 3;
  }

  .mobile-flex-start {
    display: flex;
    justify-content: flex-start;
  }

  /*----SERVICE AREA SECTION----*/
  .services-aria-block {
    grid-template-columns: 100%;
  }

  .e-commerce-position {
    margin-bottom: 30px;
  }

  /*---service-card-section----*/
  .service-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .fortablet {
    grid-column: 1/3;
    max-width: 100%;
    height: 100%;
  }

  /*----footer---*/
  .flex-wrap {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 90%;
  }
  .copy {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .main-container,
  .smaller-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .img-logo {
    max-width: 69px;
  }
  .img-slash {
    max-width: 12px;
  }
  .page-name {
    font-size: 1.25rem;
  }

  .burger {
    display: block;
  }

  .header-item1 {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .header-item2 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 245, 250, 0.2);
    margin-top: -50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .lang-buttons {
    margin-left: 10px;
  }

  .text-style2 {
    margin-right: 15px;
  }

  .nav,
  .text-style1,
  .dot,
  .facebook-mobile-none {
    display: none;
  }

  /*---header end ---*/

  /*----burger-menu----*/

  .burger {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    position: relative;
    z-index: 7;
  }
  .nav {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    z-index: -5;
  }
  .nav.active {
    z-index: 5;
    background-color: rgba(50, 50, 50, 0.85);
  }
  .nav .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    height: 100%;
    transition: all 0.3s linear;
    transform: translateY(0);
    padding-top: 150px;
  }
  .nav.active .menu {
    transform: translateY(0);
  }

  .nav-link {
    padding: 7px 100px;
    background-color: #f5f5fa;
    border-radius: 12px;
    color: #24a3ff;
  }
  .nav-link:hover {
    color: #f0145a;
    text-decoration: none;
  }

  /*---e-commerce-section:----*/
  .e-commerce-position {
    padding-left: 30px;
    padding-right: 30px;
  }

  /*---service-card-section----*/
  .service-title-style {
    font-size: 1.88rem;
  }

  .service-cards {
    grid-template-columns: 100%;
  }

  .single-card {
    max-width: 420px;
    height: 100%;
  }

  .fortablet {
    grid-column: 1;
  }

  /*----footer--------*/
  .dot {
    display: none;
  }

  .dots-gap-footer,
  .facebook-block {
    display: flex;
    flex-direction: column;
  }

  .flex-wrap {
    max-width: 398px;
  }

  .copy {
    text-align: center;
  }
}
